<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="mobile-button" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
  </mat-toolbar>
</p>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hey There!</mat-card-title>
      <mat-card-subtitle>Welcome to my website</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1537432376769-00f5c2f4c8d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>My Content</mat-card-title>
    <mat-card-subtitle>Here you can find me</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>
        <span>
          <fa-icon [icon]="faGithub"></fa-icon>
          GitHub
        </span>
      </button>
      <button mat-button>
        <span>
          <fa-icon [icon]="faTwitter"></fa-icon>
          Twitter
        </span>
      </button>
      <button mat-button>
        <span>
          <fa-icon [icon]="faMedium"></fa-icon>
          Blog
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>