mat-card {
    margin-top: 30px;
    margin-bottom: 30px;
}

// Desktop UI
@media (min-width: 600px) {
    div.container {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    button.mobile-button { display: none;}
}
